body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.flexiable-container{
    display: flex;
}

.wellcome-h1{
    font-size: 65px;
}
.mySpan{
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 55px;
}
.Advertisement{
    font-size: 50px;
}
.Top-section{

    margin: 5px;
    padding:10px;

}
.top-div{
    width: 50%;
    padding-right: 2%;
    
}
.top-div img{
    width: 80%;
    padding-left: 10%;
}
.para{
    text-align: justify;
    padding-bottom: 5%;
    padding-right: 20px;
}
.link{
    font-size: 18px;
    text-decoration: none;
    padding: 15px 25px;
    margin-left: 5%;
    background-image: linear-gradient(orange, red);
    color: white;
    border-radius: 25px;
} 

.middle-banner{
    display: flex;
    margin: 5px;
    padding:10px;
    background-image: url(Images/7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.About-us{
width: 50%;
}
.About-us img{
    width: 70%;
    margin:0;
    padding: 0;
}
.flex-container{
    display: flex;

}

.link1{
    font-size: 18px;
    text-decoration: none;
    padding: 15px 25px;
    
    margin-top: 15%;
    background-image: linear-gradient(orange, red);
    color: white;
    border-radius: 25px;
}
.recipi-one{
    margin: 30px;
    padding: 30px;
    box-shadow:10px 15px 30px 8px gray;
    border-radius: 20px;
}
.recipi-one img{
    width: 100%;
    height: 50%;
    background-size: cover;
    border-radius: 20px;
}
.recipi-details{
    width: 100%;
    height: 400px auto;
    position: relative;
    text-align: center;
}
.recipi-details p{
    margin-left: 30%;
    margin-right: 30%;
}
.booking-table{
    height: 400px auto;
    position: relative;
    margin-left: 200px;
}
#submit{
    padding: 8px 15px;
    border-radius: 10px;
    background-image: linear-gradient(orange, red);
    font-size: 16px;
}
.social-corner{
    display: flex;
    margin: 30px;
    padding: 30px;
    box-shadow:10px 15px 30px 8px gray;
    border-radius: 30px;
}
.social-corner div{
    width: 70%;
    margin: 40px;
    padding: 40px;
}
.social-corner h1{
    font-size: 50px;
    font-weight: bolder;
}
.food-span{
    color: orange;
}
.vally-span{
    color: springgreen;
}
footer{
    width: 100%;
    height: 300px;
    position: relative;
    text-align: center;
    background-color: rgb(17, 0, 255);
}
.footer-class{
margin-top: 50px;
padding-top: 90px;
font-size: 60px;
font-weight: 900;
}
.footer-healthy{
    color: white;
}